
<head>
    <partial name="Partials/_HeadPartial" />
</head>

<body data-spy="scroll" data-target=".fixed-top">
    <a href="body" class="back-to-top page-scroll" style="display: none;">Back to Top</a>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark top-nav-collapse">
        <partial name="Partials/_NavbarPartial" />
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- Header -->
    <header id="header" class="header">
        <partial name="Partials/_HeaderPartial" />
    </header> <!-- end of header -->



    <div class="container">

        @RenderBody()

    </div>


    <!-- Contact -->
    <div id="contact" class="form-1 bg-gray">
        <partial name="Partials/_ContactPartial" />
    </div> <!-- end of form-1 -->
    <!-- end of contact -->
    <!-- Footer -->
    <div class="footer bg-gray">
        <partial name="Partials/_FooterPartial" />
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <partial name="Partials/_ScriptsPartial" />

</body>