
<head>
    <partial name="Partials/_HeadPartial" />
</head>



<body class="inner_page tables_page">
    <div class="full_container">
        <div class="inner_container">

            <!-- Sidebar -->
            <partial name="Partials/_SidebarPartial" />
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">

                <!-- topbar -->
                <partial name="Partials/_TopbarPartial" />
                <!-- end topbar -->
                <!-- dashboard inner -->
                <div class="midde_cont">
                    <div class="container-fluid">
                        <div class="row column_title">
                            <div class="col-md-12">

                            </div>
                        </div>
                        <!-- row -->
                        <div class="row" style="height:88%">

                            @RenderBody()

                        </div>

                        <partial name="Partials/_FooterPartial" />
                    </div>
                    <!-- footer -->
                    <!-- Endfooter -->
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
        <!-- model popup -->
    </div>

    <!-- Scripts -->
    <partial name="Partials/_ScriptsPartial" />
    <!-- EndScripts -->

</body>
