@model ResetPasswordViewModel
@{
    Layout = null;
}
<html>

<head>
    <partial name="Partials/_HeadPartial" />
</head>


<body class="inner_page login">
    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="login_section">
                    <div class="logo_login">
                        <div class="center">
                            <img width="210" src="../../root/images/logo/fornax.svg" alt="#">
                        </div>
                    </div>
                    <div class="login_form">
                        <form asp-controller="Home" asp-action="ConfirmResetPassword" method="post">
                            <input type="hidden" value="@ViewBag.Code" id="Code" name="Code" />
                            <input type="hidden" value="@ViewBag.UserId" id="UserId" name="UserId" />
                            <fieldset>
                                <span class="text-danger mx-lg-5">@TempData["Message"]</span>
                                <span class="green_color mx-lg-5">@TempData["OKMessage"]</span>
                                <div class="field">
                                    <label class="label_field">NewPassword</label>
                                    <input asp-for="NewPassword" type="password" name="NewPassword" placeholder="NewPassword">
                                    <span class="text text-danger" asp-validation-for="NewPassword"></span>
                                </div>

                                <div class="field">
                                    <label class="label_field">Confirm</label>
                                    <input asp-for="ConfirmNewPassword" type="password" name="ConfirmNewPassword" placeholder="ConfirmNewPassword">
                                    <span class="text text-danger" asp-validation-for="ConfirmNewPassword"></span>
                                </div>

                                <div class="field margin_0">

                                    <button type="submit" class="main_bt">Update</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <partial name="Partials/_ScriptsPartial" />
    <!-- EndScripts -->

</body>


</html>
