@{
    Layout = null;
}
<html>

<head>
    <partial name="Partials/_HeadPartial" />
</head>


<body class="inner_page login">
    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="login_section">
                    <div class="logo_login">
                        <div class="center">
                            <img width="210" src="../../root/images/logo/fornax.svg" alt="#">
                        </div>
                    </div>
                    <div class="login_form">
                        <form asp-controller="Home" asp-action="ResetPassword" method="post">
                            <fieldset>
                                    <span class="text green_color">@TempData["OKMessage"]</span>
                                    <span class="text text-danger">@TempData["Message"]</span>
                                <div class="field">
                                        <label class="label_field">Email Address</label>
                                    <input type="email" name="email" placeholder="E-mail">

                                </div>
                                <div class="field margin_0">
                                    <label class="label_field hidden">hidden label</label>
                                    <button type="submit" class="main_bt">Send Mail</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <partial name="Partials/_ScriptsPartial" />
    <!-- EndScripts -->

</body>


</html>
